body {
    width: 100%;
    margin: 30px;
    background-color: antiquewhite;
}

#container {
    max-width: 300px;
    background-color: beige;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 6px;
}

#image {
    width: 100%;
    height: auto;
}

#footer {
    width: 100%;
    height: 50px;
    background-color: tan;
    text-align: center;
    color: white;
    line-height: 50px;
}

#header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: burlywood;
    color: white;
    text-align: center;
}